@import 'default_settings.scss';
@keyframes show_msg{
    0%{background: $maincolor;}
    50%{background: #B0DCFF;}
    100%{background: $maincolor;}
}
#m_list{
    height: 90px;
    background: #fff;
    position: absolute;
    margin-top: -370px;
    .m_list_stripe{
        width: 1020px;
        height: 45px;
        background: #F4F5F8;
        margin-left: 25px;
        margin-top: 22.5px;
        border-radius: 10px;
        font-weight: 500;
        ul{
            .m_list_stripe_backb{
                svg{
                    position: absolute;
                    margin-left: 10px;
                    margin-top: 6px;
                }
                span{margin-left: 54px;}
            }
            li{
                float: left;
                margin-right: 25px;
                font-size: 18px;
                color: #9DA9B9;
                line-height: 45px;
                cursor: pointer;
                &.clicked{
                    border-bottom: 2px solid $maincolor !important;
                    color: $maincolor;
                }
                &:hover{border-bottom: 2px solid #9DA9B9;}
                &:first-child {margin-left: 10px;}
            }
        }
    }
}
#m_show{
    min-height: 700px;
    background: #fff;
    position: absolute;
    margin-top: -255px;
    .m_show_list{
        width: 350px;
        min-height: 700px;
        margin-bottom: 25px;
        height: auto;
        border-right: 2px solid #F4F5F8;
        .m_show_list_point{
            height: 70px;
            width: 315px;
            cursor: pointer;
            margin-top: 25px;
            margin-left: 25px;
            border-radius: 10px;
            transition: 0.2s ease-in;
            &:hover{background: #F4F5F8;}
            .m_show_list_point_avatar{
                img{
                    width: 70px;
                    height: 70px;
                    border-radius: 10px;
                }
            }
            .m_show_list_point_name{
                font-weight: 500;
                font-size: 22px;
                line-height: 27px;
                color: #26282B;
                position: absolute;
                margin-top: -70px;
                margin-left: 90px;
                width: calc(315px - 90px);
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            .m_show_list_point_text{
                font-weight: 500;
                font-size: 18px;
                color: #9DA9B9;
                position: absolute;
                margin-top: -25px;
                margin-left: 90px;
                width: 180px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                height: 23px;
            }
            .m_show_list_point_count{
                position: absolute;
                margin-top: -40px;
                margin-left: 285px;
                background: #B90C0C;
                color: #fff;
                width: 30px;
                height: 30px;
                font-size: 16px;
                line-height: 30px;
                text-align: center;
                border-radius: 50%;
            }
        }
    }
    .m_show_dialogue{
        width: 670px;
        height: 700px;
        position: absolute;
        top: 25px;
        left: 375px;
        .m_show_dialogue_info{
            width: 100%;
            height: 95px;
            border-bottom: 2px solid #F4F5F8;
            .m_show_dialogue_info_avatar{ 
                img{
                    width: 70px;
                    height: 70px;
                    border-radius: 10px;
                }
            }
            .m_show_dialogue_info_name{
                position: absolute;
                margin-top: -75px;
                margin-left: 90px;
                font-weight: 600;
                font-size: 24px;
                line-height: 36px;
                color: #26282B;
            }
            .m_show_dialogue_info_status{
                position: absolute;
                margin-left: 90px;
                margin-top: -25px;
                font-weight: 600;
                font-size: 18px;
                line-height: 27px;
                color: #9DA9B9;
            }
            .m_show_dialogue_info_buttons{
                position: absolute;
                right: 0;
                top: 25px;
                ul li{
                    float: left;
                    margin-right: 25px;
                    cursor: pointer;
                    &:last-child{margin-right: 0;}
                    svg{
                        fill:#9DA9B9;
                        transition: .2s ease-in;
                    }
                    &:hover svg{fill: $maincolor !important;}
                }
            }
            .m_show_dialogue_info_search{
                width: 100%;
                height: 40px;
                position: absolute;
                margin-top: 20px;
                input[type=text]{
                    width: 0;
                    height: 100%;
                    border-radius: 10px;
                    background: #F4F5F8;
                    transition: .2s ease-in-out;
                    border: 0;
                    color: #9DA9B9;
                    font-family: 'Poppins', 'Montserrat';
                    font-weight: 500;
                    font-size: 16px;
                    padding-left: 40px;
                    background: url(/img/search.svg) no-repeat #F4F5F8;
                    background-position: 10px;
                    &::placeholder{
                        color: #9DA9B9;
                        font-family: 'Poppins', 'Montserrat';
                        font-weight: 500;
                    }
                    &:focus{
                        color: $maincolor;
                        background: url(/img/search_clicked.svg) no-repeat #F4F5F8;
                        background-position: 10px;
                    }
                    &.show{width: 548px;}
                }
                input[type=button]{
                    width: 105px;
                    height: 40px;
                    font-family: 'Poppins', 'Montserrat';
                    font-size: 16px;
                    color: #fff;
                    border: none;
                    background: $secondarycolor;
                    border-radius: 10px;
                    position: absolute;
                    margin-left: -105px;
                    cursor: pointer;
                    transition: .2s ease-in;
                    &:hover{background: #8f1ded;}
                }
                button{
                    width: 90px;
                    height: 40px;
                    border-radius: 10px;
                    background: transparent;
                    font-size: 16px;
                    font-weight: 500;
                    color: $maincolor;
                    font-family: 'Poppins', 'Montserrat';
                    border: 2px solid transparent;
                    cursor: pointer;
                    transition: .2s ease-in;
                    margin-left: 25px;
                    &:hover{border-color: $maincolor;}
                }
            }
        }
        .m_show_dialogue_nothing{
            width: calc(100% - 50px);
            height: 40px;
            background: #F4F5F8;
            color: #9DA9B9;
            font-size: 20px;
            line-height: 40px;
            text-align: center;
            border-radius: 10px;
            margin-left: 25px;
            margin-top: calc(100%/2 - 40px);
        }
        .m_show_dialogue_chat{
            height: auto;
            max-height: 515px;
            overflow-x: hidden;
            overflow-y: auto;
            &::-webkit-scrollbar{
                width: 10px;
                height: 3px;
                background: #e1e1e1;
                cursor: pointer;
            }
            &::-webkit-scrollbar-thumb{
                background-color: #c7c7c7;
                cursor: pointer;
                &:hover{background-color: $maincolor;}
            }
            %set_chatavatar{
                width: 40px;
                height: 40px;
                border-radius: 10px;
            }
            %set_chatname{
                margin-top: -30px;
                margin-left: 60px;
                font-weight: 600;
                font-size: 16px;
                color: #26282B;
            }
            %set_chattext{
                margin-left: 60px;
                width: 230px;
                background: #9DA9B9;
                border-radius: 0 10px 10px 10px;
                color: #fff;
                padding: 10px;
            }
            .m_show_dialogue_chat_left{
                margin-top: 30px;
                margin-bottom: 20px;
                .m_show_dialogue_chat_left_avatar{
                    img{@extend %set_chatavatar;}
                }
                .m_show_dialogue_chat_left_name{@extend %set_chatname;}
                .m_show_dialogue_chat_left_text{@extend %set_chattext;}
            }
            .m_show_dialogue_chat_right{
                margin-left: calc(70px + 250px + 25px);
                &:first-child{margin-top: 30px;}
                .m_show_dialogue_chat_right_text{
                    background: $maincolor;
                    &:last-child.show{animation: show_msg 1s linear 1;}
                }
                .m_show_dialogue_chat_right_avatar{
                    img{@extend %set_chatavatar;}
                }
                .m_show_dialogue_chat_right_name{@extend %set_chatname;}
                .m_show_dialogue_chat_right_text{@extend %set_chattext;}
            }
        }
        .m_show_dialogue_send{
            position: absolute;
            bottom: 0;
            width: 670px;
            .m_show_dialogue_send_input{
                width: 100%;
                height: 40px;
                background: #F4F5F8;
                border-radius: 10px;
                border: 0;
                color: #9DA9B9;
                font-family: 'Poppins';
                font-weight: 500;
                font-size: 16px;
                padding-left: 15px;
                padding-right: 105px;
                &::placeholder{color: #9DA9B9;}
                &:focus{color: $maincolor;}
            }
            .m_show_dialogue_send_button{
                width: 90px;
                height: 40px;
                border: 0;
                background: $secondarycolor;
                color: #fff;
                font-size: 16px;
                font-family: 'Poppins';
                font-weight: 500;
                border-radius: 10px;
                position: absolute;
                margin-left: -90px;
                cursor: pointer;
            }
        }
    }
}

@media(min-width: 1024px) and (max-width:1900px){
    #optim{
        #m_show{
            %set_chatwidth{width: calc(12vw - 60px);}
            .m_show_list{
                width: calc(24.2vw + 25px);
                .m_show_list_point{
                    width: calc(24.2vw - 2.5vw);
                    margin-left: 2.5vw;
                    .m_show_list_point_name{width: calc(24.2vw - 9vw);}
                }
            }
            .m_show_dialogue{
                width: calc(40.8vw - 2.5vw - 2.5vw - 25px);
                left: calc(24.2vw + 2.5vw);
                .m_show_dialogue_nothing{
                    margin-left: 1vw;
                    width: calc(40.8vw - 6vw);
                    font-size: 18px;
                }
                .m_show_dialogue_chat_left{.m_show_dialogue_chat_left_text{@extend %set_chatwidth;}}
                .m_show_dialogue_chat_right{
                    margin-left: calc(12vw + 25px + 40px + 60px);
                    .m_show_dialogue_chat_right_text{@extend %set_chatwidth;}
                }
                .m_show_dialogue_send{width: calc(40.8vw - 2.5vw - 2.5vw);}
            }
        }
    }
}