* {
  margin: 0;
  padding: 0;
  outline: none;
}

a {
  text-decoration: none;
}

#mainstripe, #photo, #info, #newpost, #wall, #e_list, #e_edit, #p_list, #p_select, #p_show, #log_cover, #p_addshow, #f_list, #f_show, #m_list, #m_show, #s_list, #settings, #m_list {
  width: 1070px;
  margin-left: 360px;
  border-radius: 10px;
  font-family: "Poppins", "Montserrat";
  box-shadow: 3px 3px 30px rgba(171, 185, 201, 0.5), 4px 4px 30px rgba(255, 255, 255, 0.5);
}

@media (min-width: 1024px) and (max-width: 1900px) {
  #photo, #mainstripe, #info, .info_sendmes, #newpost, #photos, #friends, #wall, #e_list, #e_edit, #p_list, #p_select, #p_show, #p_addshow, #f_list, #f_show, #m_list, #m_show, #settings, #s_list {
    width: 65vw !important;
  }
  .photos_list_nophoto, .friends_list_nofriends, .wall_post_noposts, .wall_post_settings, .wall_post_stats, .wall_post_text, .friendspphotos_list_banneduser {
    width: calc(100% - 30px) !important;
  }
  .f_list_stripe, .e_list_stripe, .p_list_stripe, .m_list_stripe {
    width: 60vw !important;
    margin-left: 2.5vw !important;
  }
}
#p_list {
  height: 90px;
  background: #fff;
  position: absolute;
  margin-top: -370px;
}
#p_list .p_list_stripe {
  width: 1020px;
  height: 45px;
  background: #F4F5F8;
  margin-left: 25px;
  margin-top: 22.5px;
  border-radius: 10px;
  font-weight: 500;
}
#p_list .p_list_stripe ul li {
  float: left;
  margin-right: 25px;
  font-size: 18px;
  color: #9DA9B9;
  line-height: 45px;
  cursor: pointer;
}
#p_list .p_list_stripe ul li:first-child {
  margin-left: 10px;
}
#p_list .p_list_stripe ul li:hover {
  border-bottom: 2px solid #9DA9B9;
}
#p_list .p_list_stripe ul li.clicked {
  border-bottom: 2px solid #9042ff;
  color: #9042ff;
}
#p_list .p_list_stripe .p_list_stripe_backb svg {
  position: absolute;
  margin-left: 10px;
  margin-top: 6px;
}
#p_list .p_list_stripe .p_list_stripe_backb span {
  margin-left: 54px;
}

#p_show {
  background: #fff;
  margin-top: -255px;
  height: 805px;
}
#p_show .p_show_photo {
  position: absolute;
  margin-left: 30px;
  margin-top: 30px;
  width: 1010px;
  height: 690px;
  background: #000;
}
#p_show .p_show_photo img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 10px;
}
#p_show .p_show_buttons {
  border-radius: 10px;
  position: absolute;
  margin-left: 30px;
  margin-top: 745px;
  width: 1010px;
  height: 35px;
  background: #F4F5F8;
  color: #9DA9B9;
}
#p_show .p_show_buttons ul li {
  float: left;
  margin-right: 40px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  line-height: 35px;
}
#p_show .p_show_buttons ul li:first-child {
  margin-left: 20px;
}
#p_show .p_show_buttons ul li:hover {
  text-decoration: underline;
}
#p_show .p_show_buttons ul li svg {
  position: absolute;
  margin-top: 5px;
}
#p_show .p_show_buttons .p_show_buttons_closeb {
  margin-left: 5px;
}

#p_select {
  background: #fff;
  min-height: 280px;
  margin-top: -255px;
}
#p_select.pshw {
  margin-top: 25px;
}
#p_select.notowner {
  min-height: 230px;
}
#p_select .p_select_newphoto {
  padding-top: 25px;
}
#p_select .p_select_newphoto form {
  width: 400px;
  margin: 0 auto;
}
#p_select .p_select_newphoto form label[for=upload], #p_select .p_select_newphoto form label[for=upload2] {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  width: 310px;
  height: 45px;
  background: #9e00ff;
  color: #fff;
  border-radius: 10px;
  font-size: 24px;
  line-height: 45px;
}
#p_select .p_select_newphoto form input[name=uploadfile] {
  width: 200px;
  height: 30px;
}
#p_select .p_select_newphoto form .outtaHere {
  display: none;
  position: absolute;
  left: -10000px;
}
#p_select .p_select_newphoto form .upload_photo_submit {
  width: 70px;
  height: 45px;
  background: #9e00ff;
  border-radius: 10px;
  color: #fff;
  font-size: 24px;
  border: 0;
  margin-left: 330px;
  cursor: pointer;
}
#p_select .p_select_photolist {
  width: 100%;
  padding-top: 30px;
  margin-left: 30px;
}
#p_select .p_select_photolist img {
  cursor: pointer;
  width: 175px;
  height: 175px;
  margin-right: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
}
#p_select .p_select_photolist .p_select_photolist_nophoto, #p_select .p_select_photolist .p_select_photolist_noava {
  width: 1010px;
  height: 40px;
  background: #F4F5F8;
  color: #9DA9B9;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
}

#p_addshow {
  margin-top: -255px;
  background: #fff;
  height: 490px;
}

/*adaptiveness*/
@media (min-width: 1024px) and (max-width: 1900px) {
  #p_show {
    height: 90vh;
  }
  #p_show .p_show_photo {
    height: 75vh;
  }
  #p_show .p_show_buttons {
    margin-top: calc(75vh + 60px);
  }
  #p_show .p_show_photo, #p_show .p_show_buttons {
    width: calc(65vw - 60px);
  }
  .p_list_stripe {
    margin-left: 2.5vw;
    width: 60vw;
  }
  #p_select .p_select_photolist .p_select_photolist_nophoto, #p_select .p_select_photolist .p_select_photolist_noava {
    width: calc(100% - 60px);
  }
}