body{
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
}
@media(max-width: 2560px){
    #objects{
        margin-top: 80px;
        margin-left: 27.5%;
    }
    .input_search{
        margin-left: 680px;
    }
    .header_enter{
        margin-left: 75.9%;
    }
}
@media(max-width: 1920px){
    .input_search{
        margin-left: 525px;
    }
    .header_enter{
        margin-left: 66.8%;
    }
    .header_lg{
        margin-left: 130px;
    }
}
@media(max-width: 1500px){
    .input_search{
        margin-left: 380px;
    }
}
@media(max-width: 1300px){
    .input_search{
        margin-left: 300px;
    }
    #objects{
        margin-left: 24%;
    }
    form[name=form_singup]{
        margin-left: 300px;
    }
    .header_enter{
        margin-left: 1050px;
    }
    .header_lg{
        margin-left: 100px;
    }
}
#objects{
    width: 861px;
    height: auto;
    background: #fff;
}
.objects_title{
    height: 40px;
    background: #42aaff;
    color: #fff;
    width: 831px;
    font-size: 24px;
    line-height: 40px;
    padding-left: 30px;
}
.span_title{
    width: 150px;
    height: 17px;
    margin-top: 5px;
    margin-left: 230px;
    position: absolute;
}
.forgotten_login,.forgotten_surname{
    border: 1px solid #d1d1d1;width: 210px;height: 30px;font-family: 'PT Sans', sans-serif;font-size:14px;padding-left:15px;
    margin-left: 148px;
}
.forgotten_login:hover,.forgotten_surname:hover{
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    border: 1px solid #afafaf;
}
.forgotten_login:focus,.forgotten_surname:focus{
    border: 1px solid #82c4fb;
}
.forgotten_submit{
    height: 30px;
    width: 100px;
    background: #42aaff;
    border: 1px solid #42aaff;
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 400px;
}
input[name=forgotten_submit]:active{
    padding-top: 2px;
}
.fig{
    text-align: center;
}
.fgtn_info{
    background: #42aaff;
    width: 600px;
    padding: 20px;
    height: auto;
    color: #fff;
    position: absolute;
    margin-top: -200px;
    box-shadow: 10px 10px 15px #494d4e;

}
.frtnacc_hoverzone{
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 1000;
}
.fgtn_buttons_yes,.fgtn_buttons_no{
    background: #42aaff;
    width: 150px;
    height: 30px;
    border: none;
    font-weight: bold;
    color: #fff;
}   